*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    height: 100%;
    width: 100%;
}
body{
    overflow-x: hidden;   
}

#main{
    height: 100%;
    width: 100%;
    background-image: url('https://images.pexels.com/photos/268533/pexels-photo-268533.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color:#fff;
}

#nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    /* background-color: red; */
    font-family:'Trebuchet MS';
    position: fixed;

}
.icon-bar i{
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
}

#side-menu{
    width:40%;
    height: 100%;
    position: absolute;
    top:0;
    right: -40%;
    background-color: rgb(99, 93, 93, 0.2);
    backdrop-filter: blur(20px);
    padding: 100px 50px;
    font-family: 'Trebuchet MS';
}
#side-menu h4{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
    cursor: pointer;
}

#side-menu i{
    width:30px;
    height: 30px;
    font-size: 24px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: white;
    border-radius: 50%;
    color:crimson;
    position:absolute;
    top:10%;
    right:5%;
    cursor: pointer;

}
